<p>
  For reward, here is a list of awesome computer scientists!
</p>

<p>
  You want more? Add them yourself!
</p>
<form (submit)="addName(newname)">
  <input #newname>
  <button type="submit">Add</button>
</form>
<ul>
  <li *ng-for="#name of list.get()">{{ name }}</li>
</ul>
<hr/>
<ul>
  <li *ng-for="#user of users">{{ user.firstName + ' ' + user.lastName }} {{ user.age }}</li>
</ul>
<hr/>
<p>{{ salutation }}</p>

<input type="text" placeholder="First" [(ng-model)]="firstName"/>
<input type="text" placeholder="Last" [(ng-model)]="lastName"/>
<input type="number" placeholder="Age" [(ng-model)]="age"/>

<button (click)="createUser(firstName, lastName, age)">
  Create a New User
</button>


<br/><br/><br/><br/><br/><br/><br/><br/>
