.build {
  padding: 1em 1em;
  font-size: .8em; }

table {
  overflow: hidden; }

td, th {
  padding: 10px;
  position: relative;
  outline: 0; }

body:not(.nohover) tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.025); }

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1; }

td:hover::after,
th:hover::after {
  background-color: rgba(0, 0, 0, 0.025); }

td:focus::after,
th:focus::after {
  background-color: blue !important; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.0125); }

tr:hover {
  background-color: rgba(0, 0, 0, 0.055) !important; }
