<!-- SEARCH -->
<section class="row">
  <article class="col-xs-12">
    <!-- SEARCH FORM -->

    <!--
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Type in the name of a test suite...">
        <span class="input-group-btn">
          <button class="btn btn-default disabled" type="button"><i class="fa fa-times"></i></button>
        </span>
      </div>
    </form>
    -->
  </article>
</section>
<!-- SUITES TABLE -->
<section class="row">
  <article class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 text-right">
        <div class="btn-group">
          <button class="btn btn-sm btn-primary">
            1-Week
          </button>
          <button class="btn btn-sm btn-primary active">
            2-Week
          </button>
        </div>
      </div>
    </div>

    <!--<pre>{{ columnTotals | json }}</pre>-->

    <div class="clearfix">&nbsp;</div>
    <table class="table table-striped table-bordered">
      <!-- TABLE HEADERS -->
      <thead>
      <tr>
        <th>Suite Name</th>
        <!-- Repeater for all days returned by DB -->
        <th *ng-for="#date of columnTotals" class="text-center">
          {{ returnDate(date.date) | date:'EEE' }}<br/>
          <small>
            {{ returnDate(date.date) | date:'MMM-d' }}<br/>
            <!--
            <span class="text-muted">
              ...ago
            </span>
            -->
          </small>
        </th>

      </tr>
      </thead>
      <!-- TABLE BODY -->
      <tbody>
      <!-- ROW REPEATER -->
      <tr *ng-for="#suite of testSuites">
        <td>
          <strong>{{ suite.suiteName }}</strong>
        </td>
        <td class="build text-center {{ build.status }}" *ng-for="#build of suite.builds">
          <a href="#/">

            <span *ng-if="build.status === 'fail'">
              <!-- PASSES -->
              <span class="label label-success text-center">
                {{ build.totalPasses }}
              </span> &nbsp;

              <!-- FAILS -->
              <span class="label label-danger text-center">
                {{ build.totalFails }}
              </span>

              <br />
            </span>

            <strong class="{{ build.status }}">
              {{ build.totalSpecs }}
            </strong>

            <!-- {{ build.status }} -->
            <!-- {{ build.date }} -->
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <strong>Suite Totals</strong>
        </td>
        <!-- Repeater for all days returned by DB -->
        <td *ng-for="#column of columnTotals" class="text-center">
          <small>
            <span>Specs: {{ column.totalSpecs }}</span><br>
            <span>F: {{ column.totalFails }}</span><br>
            <span>P: {{ column.totalPasses }}</span><br>
            <span>Build Fails: {{ column.buildFails }}</span>
          </small>
        </td>

      </tr>

      </tbody>
    </table>
  </article>
</section>
