.build {

  a {
    padding: 1em 0;
    display: block;
  }

  &.pass {
    background-color: rgba(47, 153, 39, 0.1);
  }
  &.fail {
    background-color: rgba(255, 2, 32, 0.1);
  }

  strong {
    &.pass {
      padding-top: .5em;
      display: inline-block;
      color: #006600;
    }
  }
}

table {
  overflow: hidden;
}

td, th {
  position: relative;

  small {
    font-size: .8em;
    margin-top: 1em;
  }

}



tr, td, th, th::after {
  -webkit-transition: background-color 250ms;
  -moz-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
}


body:not(.nohover) tbody tr:hover {
  background-color: rgba(0,0,0,0.025);
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after {
  content: '';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: rgba(0,0,0,0.025);
}

td:focus::after,
th:focus::after {
  background-color: blue !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,0.0125);
}

tr:hover{
  background-color: rgba(0,0,0,0.055) !important;
}
