<!-- SEARCH -->
<section class="row">
  <article class="col-xs-12">
    <!-- SEARCH FORM -->

    <!--
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Type in the name of a test suite...">
        <span class="input-group-btn">
          <button class="btn btn-default disabled" type="button"><i class="fa fa-times"></i></button>
        </span>
      </div>
    </form>
    -->
  </article>
</section>
<!-- SUITES TABLE -->
<section class="row">
  <article class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 text-right">
        <div class="btn-group">
          <button class="btn btn-sm btn-primary">
            1-Week
          </button>
          <button class="btn btn-sm btn-primary active">
            2-Week
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <table class="table table-striped table-bordered">
      <!-- TABLE HEADERS -->
      <thead>
      <tr>
        <th>Suite Name</th>

        <th class="text-center">
          Fri<br/>
          <small>
            10/30/15<br/>
            <span class="text-muted">
              today
            </span>
          </small>
        </th>
        <th class="text-center">
          Thu<br/>
          <small>
            10/29/15<br/>
            <span class="text-muted">
              yesterday
            </span>
          </small>
        </th>
        <th class="text-center">
          Wed<br/>
          <small>
            10/28/15<br/>
            <span class="text-muted">
              2 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Tue<br/>
          <small>
            10/27/15<br/>
            <span class="text-muted">
              3 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Mon<br/>
          <small>
            10/26/15<br/>
            <span class="text-muted">
              4 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Sun<br/>
          <small>
            10/25/15<br/>
            <span class="text-muted">
              5 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Sat<br/>
          <small>
            10/24/15<br/>
            <span class="text-muted">
              6 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Fri<br/>
          <small>
            10/23/15<br/>
            <span class="text-muted">
              7 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Thu<br/>
          <small>
            10/22/15<br/>
            <span class="text-muted">
              8 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Wed<br/>
          <small>
            10/21/15<br/>
            <span class="text-muted">
              9 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Tue<br/>
          <small>
            10/20/15<br/>
            <span class="text-muted">
              10 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Mon<br/>
          <small>
            10/19/15<br/>
            <span class="text-muted">
              11 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Sun<br/>
          <small>
            10/18/15<br/>
            <span class="text-muted">
              12 days ago
            </span>
          </small>
        </th>
        <th class="text-center">
          Sat<br/>
          <small>
            10/17/15<br/>
            <span class="text-muted">
              13 days ago
            </span>
          </small>
        </th>

      </tr>
      </thead>
      <!-- TABLE BODY -->
      <tbody>
      <!-- ROW REPEATER -->
      <tr *ng-for="#suite of testSuites">
        <td>
          <strong>{{ suite.suiteName }}</strong>
        </td>
        <td class="build text-center {{ build.status }}" *ng-for="#build of suite.builds">
          <a href="#/">

            <span class="text-success" *ng-if="build.status === 'fail'">
            {{ build.totalPasses }} |
          </span>

            <strong class="text-danger" *ng-if="build.status === 'fail'">
              {{ build.totalFails }}<br>
            </strong>
            <!--
            <span class="text-muted">
              {{ build.totalSkips }}<br/>
            </span>
            -->
            <strong class="{{ build.status }}">
              {{ build.totalSpecs }}
            </strong>

            <!-- {{ build.status }} -->
            <!-- {{ build.date }} -->
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </article>
</section>
